
<h1 class="center">Longest Word Game</h1>
<div class="card center">
	<form action="/new" method="GET">
	  <label for="size">Specify length of board:  </label>
	  <input type="text" id="size" name="size" placeholder="How many letters?">
	  <input type="submit" value="Start!">
	</form>
</div>
