
<div class="card center">
	<h1>Welcome to the Longest Word game!</h1>
	<h3>Make the longest word you can out of the following letters:</h3>
</div>
<div class="card center">
	<ul class = "list-inline">
	  <%@grid.each do |l| %>
		<li><%= l %></li>
		<% end %>
	</ul>
</div>

<form class="center list-inline" action="/score" method="POST">
 <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <label for="size">Your Word: </label>
  <input type="hidden" name="time" value="<%= Time.now.to_i %>">
  <input type="hidden" name="letters" value="<%=@letters%> ">
  <input type="text" id="word" name="word">
  <input type="submit" value="Guess!">
</form>
